.product-cart { 
    display: flex;
    flex-direction: column;
    border: solid 1px rgba(255, 0, 255, 0.271);
    box-shadow: 2px 2px 4px rgba(255, 0, 255, 0.271);
    text-align: center;
    border-radius: 5px;
    padding: 1rem;
    background-color: pink;
    margin-bottom: 25px;
    width: 100%;
    height: 100%;
  }
  
  .product-price {
   font-weight: bolder;
  }

  .product-button:hover  {
    background-color: rgba(255, 0, 255, 0.271);
    color: white;
  }

  .product-name {
    font-size: 1.6rem;
    color: black;
  }

  .product-name:hover {
    color: rgba(255, 0, 255, 0.771);
    font-weight: bold;
  }

  .product-image {
    object-fit: cover;
    height: 300px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    border: solid 1px rgba(255, 0, 255, 0.271);
    box-shadow: 2px 2px 4px rgba(255, 0, 255, 0.271);
  }